*{
	margin: 0px;
	padding: 0px;
	outline-style: none;
	border-style: none;
	box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: black;
}

.container {
    display: flex;
    width: 50%;
    height: 100%;
    margin: 0 auto 0 auto;
}

#blockOfForm{
    width: 80%;
	margin: 10px auto;
}

#containerOfForm{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: solid 2px black;
}

#containerOfButton{
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

#uniqueForm{
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

input[type = text]{
	width: 90%;
	margin: 0px 0px 0px 5%;
	padding: 2.5%;
    border: solid 2px #000;
	border-radius: 4px;
	font-size: 0.90em;
	text-transform: uppercase;
}

label{
	font-size: 0.90em;
	font-weight: 600;
	display: block;
	padding: 5% 0px 0px 5%;
	color: black;
}

input[type=submit], input[type=button]{
	display: block;
	font-size: 0.95em;
	font-weight: 600;
	padding: 0.95em 0.95em;
	text-decoration: none;
	background-color: #595A5C;
	color: #FFFFFF;
	margin: 5% auto 5% auto;
	border-radius: 6px;
	cursor: pointer;
}

#rua, #bairro, #cidade, #estado{
	background-color: #B6BAB5;
}


@media screen and (max-width: 415px){
	body{
		font-size: 50%;
	}

	.container{
		width: 95%;
	}
}

@media screen and (max-width: 770px) and (min-width: 415px){
	body{
		font-size: 50%;
	}

	.container{
		width: 50%;
	}
}